{% extends "base.html" %}
{% block content %}
  <div class="divide-y-2 divide-bg">
    <p class="text-2xl">Your current sessions:</p>
    {% for s in sessions %}
      <div class="p-1 flex w-full items-center justify-between"> 
        <div>
          <p>{% if s.current %}<span class="font-semibold uppercase tracking-wide">Current</span>{% endif %} <span id="ip">{{s.ip}}</span></p>
          <p class="text-sm">Expires {{s.expiry}}</p>
          <p class="text-sm"> App {{s.app}}
        </div>
        <form method="post" action="/auth/sessions/{{s.id}}">
          <button type="submit" class="px-2 mx-4 bg-fg hover:bg-bg border border-red text-red font-semibold rounded-sm">Revoke</button>
        </form>
      </div>
    {% endfor %}
  </div>
  <script>
      document.querySelectorAll("#ip").forEach((ip) => {
      const new = ip.innerHTML.split(":");
      console.log(new);
      fetch("https://ipinfo.io/"+new[0])
        .then((res) => res.json())
        .then((data) => ip.innerHTML = data.city)
        .catch(() => ip.innerHTML = "??? " + new[0])}
    );
  </script>
{% endblock %}
